#heroBars{
    z-index: -1;
    position: absolute;
    fill: #C94949;
}
#rec1{
    /* z-index: -1; */
    /* position: absolute; */
    fill: #C94949;
    /* fill-rule:evenodd; */

}
#rec2{
    /* z-index: -1;
    position: absolute; */
    fill: #C94949;
}
#rec3{
    z-index: -2;
    position: absolute;
    transform: rotate(50deg);
    fill: #262626;
    bottom: -30%;
    left: 0%;
}
.homeHero{
    max-width: 100% !important;
    margin: 0 !important;
    height: 100vh;
}

.testBoarder{
    border: solid;
    border-color: coral;
}

#projects{
    max-width: 100% !important;
    height: 100vh;
    background-color: #262626;
}

.nav-link{
    font-weight: 600;
    font-family: 'Maven Pro', sans-serif;
    color: #262626 !important;
}

.active{
    font-weight: 700 !important;
    border-bottom: 2px solid #C94949;
}

.nav{
    padding-top: 10px;
    padding-right: 10px;
}